<!--<p><span class="boldspan">Pour le formulaire:</span>{{demoForm.value | json}}</p>
<p><span class="boldspan">Pour le ngModel :</span> {{this.dataModel}}</p>
<form #demoForm="ngForm">
  <app-custom-input2 name="someValue" [(ngModel)]="this.dataModel">
    Donnée pour le formulaire et le ngmodel:
  </app-custom-input2>
</form>

<hr>-->
<h1>Avec formGroup : </h1>
<p><span class="boldspan">Uniquement le formulaire</span>{{formGroup.value | json}}</p>
<form [formGroup]="this.formGroup">
  <app-custom-input2 formControlName="nom">
    Donnée pour le formulaire :
  </app-custom-input2>
  <app-selector formControlName="lstUser" [items]="this.lstValues" bindLabel="nom" [multiple]="true" [closeOnSelect]="false"></app-selector>
</form>
<button type="submit" class="btn btn-primary my-auto" [disabled]="!formGroup.valid">Valide</button>

<h1 class="mt-5">Avec NgModel : </h1>
<p><span class="font-weight-bold">Uniquement le ngModel : </span> {{this.nom}}</p>
<p><span class="font-weight-bold">Uniquement le ngModel : </span> {{this.lstUsers | json}}</p>
<app-custom-input2 [(ngModel)]="this.nom">
    Donnée pour le ngmodel :
</app-custom-input2>
<app-selector [items]="this.lstValues" (change)="this.changes()" bindLabel="nom" [multiple]="true" [(ngModel)]="this.lstUsers" [closeOnSelect]="false"></app-selector>


<h1 class="mt-5">Avec template : </h1>
<app-selector [items]="this.lstValues" bindLabel="nom" [multiple]="true" [(ngModel)]="this.lstUsers" [closeOnSelect]="false">
    <ng-template #labelTemplate let-item>
        <label>
            <b>{{item.id}}</b> - {{item.nom}}
        </label>
    </ng-template>
    <ng-template #optionTemplate let-item>
        <label>
            <b>{{item.nom}}</b> - {{item.admin}}
        </label>
    </ng-template>
</app-selector>
