/* You can add global styles to this file, and also import other style files */
ng-select > .ng-select-container {
	height: 28px !important;
	border-radius: 0 !important;
	border: 2px solid lightgray !important;
	min-height: 28px !important;
}
